<p>
  <%= label_tag 'settings_enable_agreement', t('agreement.enable') %>
  <%= check_box_tag "settings[enable_agreement]", true, @settings['enable_agreement'] %>
</p>

<p>
  <%= label_tag 'settings_agreement_page', t('agreement.agreement_page') %>
  <%= text_field_tag 'settings[agreement_page]', @settings['agreement_page'], size: 50 %>
</p>

<p>
  <%= label_tag 'settings_reject_agreement_page', t('agreement.reject_agreement_page') %>
  <%= text_field_tag 'settings[reject_agreement_page]', @settings['reject_agreement_page'], size: 50 %>
</p>
